<nb-card>
    <nb-card-header>
      Create a New Product
    </nb-card-header>
    <nb-card-body>
      <div class="has-success">
        <label class="form-control-label" for="success-form-control">Product Name </label>
        <input class="form-control form-control-success" [(ngModel)]="product.name">
      </div>
      <br/>
      <div class="has-success">
        <label class="form-control-label" for="success-form-control">Product Price </label>
        <input class="form-control form-control-success" [(ngModel)]="product.price">
      </div>
      <br/>
      <div class="has-success">
        <label class="form-control-label" for="success-form-control">Seller Name </label>
        <input class="form-control form-control-success" [(ngModel)]="product.sellerName">
      </div>
      <br/>
      <a routerLink="../">
        <button class="btn btn-success">Back</button>
      </a>
      <button class="btn btn-success" (click)="createProduct()">Create</button>
    </nb-card-body>
  </nb-card>